body {
    background-color: black;
    color: white;
    font-family: 'Roboto Slab', sans-serif;
}

div.chart {
    height: 500px;
    margin-top: 2em;
}

p.copyright {
    color: #A0A0A0;
    text-align: left;
    font-size: 0.8em;
}

h1 {
    margin-left: 20px;
}

h3 {
    margin-left: 20px;
}

p {
    color: #A0A0A0;
    margin-left: 20px;
}

div.disqus_thread {
    margin-left: 20px;
    margin-right: 20px;
}
