name: Makefile Continuous Integrations

on:
  push:
    branches: [ master ]
    paths:
      - '**.h'
      - '**.cc'
      - Makefile
      - .github/workflows/ci.yml
  pull_request:
    branches: [ master ]
    paths:
      - '**.h'
      - '**.cc'
      - Makefile
      - .github/workflows/ci.yml

jobs:
  unit-test:
    strategy:
      matrix:
        toolset: [gcc, clang]
        os: [ubuntu-22.04, ubuntu-24.04, ubuntu-22.04-arm, ubuntu-24.04-arm]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v5

    - name: Install Boost.Test
      run: sudo apt-get install --yes -qq libboost-test-dev

    - name: Environment variables
      run: make -r TOOLSET=${{ matrix.toolset }} env

    - name: Toolset versions
      run: make -r TOOLSET=${{ matrix.toolset }} versions

    - name: Build and run unit tests
      run: make -rj2 TOOLSET=${{ matrix.toolset }} example run_tests

    - name: Build and run unit tests with thread sanitizer
      run: make -rj2 TOOLSET=${{ matrix.toolset }} BUILD=sanitize run_tests
